/*==== Core GB Fixes ====*/
@import 'patches/wordpress-int';

/*==== Additional UI ====*/
@import 'patches/custom-ui';

/*==== Header ====*/
@import 'elements/header';

/*==== Breadcrumb ====*/
@import 'elements/breadcrumb';

/*==== Mobile Menu Style ====*/
@import 'elements/mobile-menu';

/*==== Carousel Slider Arrows ====*/
@import 'elements/carousel-arrows';

/*==== Sections Title ====*/
@import 'elements/section-title';

/*==== Floating Icon ====*/
@import 'elements/floating-play-icon';

/*==== Logo Block ====*/
@import 'elements/logo-block';

/*==== Gallery Card ====*/
@import 'elements/gallery-card';

/*==== Forms Controls ====*/
.form-control {--border-color: rgba(0,0,0, 0.20);}

/*===> Form Control Outline <====*/
.form-control:focus, .px-uploader:focus:not([data-uploader=advanced]) {
    outline: var(--border-size) solid var(--primary-color);
}

/*==== Icons Colors ====*/
.primary-icon::before {color: var(--primary-color);}
.primary-2nd-icon::before {color: var(--primary-hover);}
.danger-icon::before {color: var(--danger-color);}
.danger-icons li::before {color: var(--danger-color);}
.success-icon::before {color: var(--success-color);}
.success-icons li::before {color: var(--success-color);}

/*==== Sticky Header Scroll Space ====*/
html, body {scroll-padding: 150px;}

/*===> Navigation Hover Effect <====*/
.main-header .px-navigation > ul > li {
    position: relative;
    /*==== BG Shape ====*/
    &::before {
        top: 0;
        left: -5px;
        right: -5px;
        z-index: 0;
        content: '';
        height: 100%;
        position: absolute;
        transition: all 0.3s;
        background-color: var(--primary-color);
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);

    }
    /*==== Link Order ====*/
    > a {position: relative; z-index: 1;}
    /*==== Hover/Active Mode ====*/
    &:not(:hover):not(.px-item-active)::before {opacity: 0;}
}

/*===> Mobile Menu Style <====*/
.px-custom-menu {
    /*==== Container ====*/
    .menu-wrapper {
        width: 90%;
        align-self: end;
        border-radius: 0;
        background-color: var(--dark-color);
        /*==== Items ====*/
        > ul > li {
            padding: 10px 0;
            font-weight: 700;
            font-size: 1.15rem;
            &:not(:last-child) {border-bottom: 1px solid rgba(0,0,0,.1);}

            /*==== Sub Menus ====*/
            .submenu {
                font-size: 1rem;
                font-weight: 500;
                li {padding: 5px 15px;}
            }
        }
    }

    /*==== Menu Toggle button ====*/ 
    // .menu-toggle.px-active::before {content: "\f00d"; }
}

/*==== Columns Connected Divider ====*/
.ccd-v1 {
    position: relative;
    &::before {
        left: 50%;
        width: 80%;
        content: '';
        top: REM(22);
        height: REM(2);
        position: absolute;
        transform: translateX(-50%);
        background-color: var(--primary-color);
    }
}

/*==== Front-End Only ====*/
body:not([class*="editor"]) {
    /*==== Remove White Space for Container ====*/
    @include large(){
        .container-free > div {padding-left: 0; padding-right: 0;}
    };
    
    /*==== Marquee Section ====*/
    .cta-animated-text-section {
        overflow: hidden;
    
        .px-marquee, .px-marquee-reverse {
            left: 0;
            right: 0;
            width: 100%;
            position: absolute;
        }
    
        .px-marquee {
            top: 30%;
            z-index: 0;
            text-shadow: 5px 5px 2px rgba(0,0,0, 0.1);
        }
    
        .px-marquee-reverse {
            top: 60%;
            z-index: 2;
            text-shadow: 10px 10px 5px rgba(0,0,0, 0.2);
        }
    
        .wp-block-image {
            z-index: 1;
            margin-bottom: 0;
            position: relative;
            img {filter: drop-shadow(30px 20px 10px rgba(0,0,0, 0.3));}
        }
    }
}

