@import 'theme-info.scss';

/*==== Direction Options ====*/
$direction: ltr;
$direction-reverse: rtl;
$direction-start: left;
$direction-end: right;

/*==== SASS Assets ====*/
@import 'assets/mixin';     //===> SASS Mixin
@import 'assets/selectors'; //===> SASS Selectors

/*==== Core WordPress Fixes ====*/
@import 'assets/core-fixes';

/*==== Theme Custom Design ====*/
@import 'theme-style';
