@import 'theme-info.scss';

/*==== Direction Options ====*/
$direction: rtl;
$direction-reverse: ltr;
$direction-start: right;
$direction-end: left;

/*==== SASS Assets ====*/
@import 'assets/mixin';     //===> SASS Mixin
@import 'assets/selectors'; //===> SASS Selectors

/*==== Core WordPress Fixes ====*/
@import 'assets/core-fixes';

/*==== Theme Custom Design ====*/
@import 'theme-style';
