/*==== Multiple Used Elements ====*/
$animated-elements : "img, h1, h2, h3, h4, h5, h6, p, .btn, .form-control, .control-icon, li, .wp-block-phenix-group";

/*==== Front-End Only ====*/
body:not([class*="block-editor"]):not([class*="site-editor"]) {
    .full-screen-wide {min-height: 75vh;}
    .full-screen {min-height: 100vh;}
}

/*==== Animations ====*/
.px-animate.view-active:not([data-animation]) {
    .wp-block-phenix-column, #{$animated-elements} {
        $delay: 0;
        -webkit-animation: fadeInUp 1s both;
        animation: fadeInUp 1s both;
        //===> Delay each by 100 <===//
        @media screen and (min-width: 1100px) {
            @for $index from 1 to 5 {
                $delay: $delay + 100;
                &:nth-child(#{$index}) {-webkit-animation-delay: #{$delay}ms;animation-delay: #{$delay}ms;}
            }
        }
    }
}
