/*==== Core Slider ====*/
.px-slider {
    /*==== Show Controls on Hover ====*/
    .px-slider-controls {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s;
    }

    /*==== Fix Arrow Space ====*/
    &.carousel-slider .px-slider-controls {
        @include medium() {
            margin-left: -#{REM(15)};
            margin-right: -#{REM(15)};
            width: calc(100% + #{REM(30)});
        };

        @include small('down') {
            padding-left: #{REM(15)};
            padding-right: #{REM(15)};
        };
    }

    /*==== Side Bullet ====*/
    &.side-bullets .px-slider-pagination  {
        top: 50%;
        padding: 0;
        width: #{REM(10)};
        bottom: auto;
        #{$direction-start}: #{REM(30)};
        transform: translateY(-50%);
        @if($direction == "rtl") { left: 0; }
        /*==== Pagination Items ====*/
        li {
            width: 100%;
            margin: #{REM(5)} 0;
            button {
                margin: 0;
                width: 100%;
                height: #{REM(25)};
                border-radius: #{REM(20)};
            }
        }
    }
}
