/*==== Floating Icon ====*/
.floating-play-icon::before {
    /*==== Options ====*/
    --outline-size: #{REM(2)};
    --border-size: #{REM(10)};
    --border-color: rgba(255,255,255, 0.05);
    --background: rgba(255,255,255, 0.2);
    --text-shadow: 0 0 #{REM(2)} rgba(0,0,0, 0.5);

    /*==== Properties ====*/
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;

    /*==== Layout ====*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*==== Style ====*/
    border-radius: 50%;
    animation-delay: 0.3s;
    text-shadow: var(--text-shadow);
    background-color: var(--background);
    transform: translateX(-50%) translateY(-50%);
    border: var(--border-size) solid var(--border-color);
    animation: floating-play-icon 1s infinite ease-in-out;
    outline: var(--outline-size) solid var(--secondary-color);
    box-shadow: inset 0 0 0 var(--border-size) var(--background);
}

/*==== Define CSS Properties ====*/
@property --background {
    syntax: '<color>';
    initial-value: rgba(255,255,255, 0);
    inherits: false;
}

@property --border-color {
    syntax: '<color>';
    initial-value: rgba(255,255,255, 0);
    inherits: false;
}

@property --outline-size {
    syntax: '<number>';
    initial-value: 0;
    inherits: false;
}

@keyframes floating-play-icon {
    25% {
        --outline-size: 0;
        --background: rgba(255,255,255, 0.1);
        --border-color: rgba(255,255,255, 0);
    }

    50% {
        --outline-size: 2px;
        --background: rgba(255,255,255, 0.2);
        --border-color: rgba(255,255,255, 0.05);
    }

    75% {
        --outline-size: 1px;
        --background: rgba(255,255,255, 0.1);
        --border-color: rgba(255,255,255, 0);
    }
}
