/*==== Header Wrappers ====*/
.has-header {
    position: relative;
    /*==== Floating Mode ====*/
    &.floating-header .main-header {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        @include large(){ top: #{REM(30)}; };
    }

    /*==== Boxed Header ====*/
    &.boxed-header {
        .main-header {
            max-width: #{REM(1200)};
            @include xlarge(){ max-width: #{REM(1400)}; };
        }
        /*==== Header and Navbar ====*/
        .header-top, .header-bottom {
            > .container-xl {padding-left: #{REM(20)}; padding-right: #{REM(20)};}
        }
    
        .header-top {border-radius: #{REM(8)} #{REM(8)} 0 0;}
    
        .header-bottom {
            margin-left: #{REM(15)};
            margin-right: #{REM(15)};
            border-radius: 0 0 #{REM(8)} #{REM(8)};
        }
    }

    /*==== Header ====*/
    .main-header {
        margin: auto;
        z-index: var(--header-index);
    }
}
