/*==== Mobile Menu ====*/
@media screen and (max-width: #{REM(920)}) {
    .px-navigation[class*="hidden"][data-mobile="dropdown"] {
        left: 0;
        top: 100%;
        width: 100%;
        padding: #{REM(10)} #{REM(30)};
        position: absolute;
        background-color: var(--body-bg);
        box-shadow: #{REM(3)} #{REM(3)} #{REM(8)} 0 rgba(#000, 0.05);
        > ul > li {
            width: 100%;
            &:not(:last-child) {margin-bottom: #{REM(5)};}
        }
    }
}

.navigator-menu .px-item-active > ul {display: block!important;}
