/*==== Mobile Menu ====*/
@media screen and (max-width: 920px) {
    .px-navigation[class*="hidden"][data-mobile="dropdown"] {
        left: 0;
        top: 100%;
        width: 100%;
        padding: 10px 30px;
        position: absolute;
        background-color: var(--body-bg);
        box-shadow: 3px 3px 8px 0 rgba(#000, 0.05);
        > ul > li {
            width: 100%;
            &:not(:last-child) {margin-bottom: 5px;}
        }
    }
}

.navigator-menu .px-item-active > ul {display: block!important;}
