<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"phenix/featured-hero-content"} /-->

<!-- wp:pattern {"slug":"phenix/hero-hero-section-content"} /-->

<!-- wp:pattern {"slug":"phenix/iconic-features"} /-->


<!-- wp:pattern {"slug":"phenix/hero-section-with-slider"} /-->

<!-- wp:pattern {"slug":"phenix/hero-section-with-slider-v2"} /-->

<!-- wp:pattern {"slug":"phenix/query-with-slider"} /-->

<!-- wp:pattern {"slug":"phenix/call-to-action"} /-->

<!-- wp:phenix/container {"size":"container-xl","isSection":true,"flexbox":{"align":""},"typography":{"align":"tx-align-center"},"style":{"support":["enable-padding"],"pdt":"50","pdb":"50","background":{"type":"color","rotate":null,"value":"bg-white"}},"align":"full"} -->
<div class="wp-block-phenix-container alignfull tx-align-center pdt-50 pdb-50 bg-white">
    <div class=" container-xl">
        <!-- wp:phenix/group {"style":{"max_size":"w-max-1100","support":["enable-margin"],"mb":"40"},"className":"mgx-auto"} -->
        <div class="wp-block-phenix-group mgx-auto w-max-1100 mb-40">
            <!-- wp:phenix/text {"type":"headline","tagName":"h2","content":"Stay Updated with Phenix Articles","typography":{"align":"on","tx-uppercase":"tx-uppercase","size-lg":"display-lg-h5"}} -->
            <h2 class="wp-block-phenix-text headline on tx-uppercase display-lg-h5">Stay Updated with Phenix Articles</h2>
            <!-- /wp:phenix/text -->

            <!-- wp:phenix/text {"content":"Congratulations on choosing Phenix Blocks for your project! Our Starter Theme is designed to help you hit the ground running with your web development endeavors.","typography":{"align":"on","size-lg":"fs-lg-19"}} -->
            <p class="wp-block-phenix-text paragraph on fs-lg-19">Congratulations on choosing Phenix Blocks for your project! Our Starter Theme is designed to help you hit the ground running with your web development endeavors.</p>
            <!-- /wp:phenix/text -->
        </div>
        <!-- /wp:phenix/group -->

        <!-- wp:phenix/query {"query":{"post_type":["post"],"per_page":"16"},"template_part":"cards/portfolio","isFlexbox":true,"flexbox":{"slider":true,"cols":"1","cols-md":"2","cols-lg":"4"},"slider":{"duration":"7000","speed":"1000","controls":"position-ab pos-center-y fluid flexbox align-between pdx-20","arrow":"btn primary small square radius-sm"}} /-->
    </div>
</div>
<!-- /wp:phenix/container -->

<!-- wp:pattern {"slug":"phenix/statistics-section"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->