<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"page-head","tagName":"nav"} /-->

<!-- wp:phenix/container {"size":"container-xl","isSection":true,"style":{"support":["enable-padding"],"background":{"type":"color","rotate":null,"value":"bg-white"},"pdt":"60","pdb":"60"},"align":"full"} -->
<div class="wp-block-phenix-container alignfull bg-white pdt-60 pdb-60"><div class=" container-xl"><!-- wp:phenix/query {"query":{"pagination":true,"per_page":"12","s":true},"template_part":"cards/blog","isFlexbox":true,"flexbox":{"equals":"on","cols":"1","cols-md":"2","cols-lg":"4","gpy":"30"}} /--></div></div>
<!-- /wp:phenix/container -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->