<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"page-head","tagName":"nav"} /-->

<!-- wp:phenix/container {"size":"container","isSection":true,"style":{"support":["enable-padding"],"background":{"type":"gradient","rotate":null,"value":"bg-grade-primary-offwhite"},"pdt":"60","pdb":"60"},"align":"full"} -->
<div class="wp-block-phenix-container alignfull bg-grade-primary-offwhite pdt-60 pdb-60"><div class=" container"><!-- wp:phenix/group {"typography":{"align":"on"},"style":{"support":["enable-radius","enable-padding"],"pdt":"30","pde":"30","pds":"30","pdb":"30","pdt-lg":"","pds-lg":"","pde-lg":"","pdb-lg":"","background":{"type":"color","rotate":null,"value":"bg-white"},"box-shadow":"bx-shadow-dp-1y","radius":"radius-lg"},"className":"border-1 border-solid border-alpha-15"} -->
<div class="wp-block-phenix-group border-1 border-solid border-alpha-15 on pdt-30 pde-30 pds-30 pdb-30 bg-white bx-shadow-dp-1y radius-lg "><!-- wp:post-content /-->

<!-- wp:phenix/group {"style":{"support":["enable-padding"],"pdt":"20"},"className":"divider-t"} -->
<div class="wp-block-phenix-group divider-t pdt-20 "><!-- wp:phenix/theme-part {"part_name":"post/tags"} /--></div>
<!-- /wp:phenix/group --></div>
<!-- /wp:phenix/group --></div></div>
<!-- /wp:phenix/container -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->