<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"page-head","tagName":"nav"} /-->

<!-- wp:phenix/container {"size":"container","isSection":true,"style":{"support":["enable-padding"],"background":{"type":"color","rotate":null,"value":"bg-white"},"pdt":"60","pdb":"60"},"align":"full"} -->
<div class="wp-block-phenix-container alignfull bg-white pdt-60 pdb-60">
    <div class=" container">
        <!-- wp:post-content {"layout":{"inherit":true}} /-->
    </div>
</div>
<!-- /wp:phenix/container -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->